# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.lk1
*.sym
*.mk1

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.class

images/*
mandel_bench.tgt
mandel_bench.map
mandelguts.map
mandelguts.mk
mandelguts.tgt
mandelguts.wpj
mandel.res
INTERMEDIATE mandel2.exe
ORIGINAL mandel.exe
